<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login | Hospital Management</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <div class="login-container">
    <h2>Hospital Login</h2>
    <form id="loginForm">
      <input type="email" placeholder="Email" name="email" required />
      <input type="password" placeholder="Password" name="password" required />
      <button type="submit">Login</button>
    </form>
    <p id="msg"></p>
  </div>
  <script src="../public/js/login.js"></script>
</body>
</html>
