<div class="sidebar"  style="margin-top: 48px;">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-grid-fill"></i> Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><i class="bi bi-calendar-check"></i> Appointments</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><i class="bi bi-people-fill"></i> Patients</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><i class="bi bi-person-plus-fill"></i> Doctors / Nurses</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-cash-stack"></i> Finance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-activity"></i> Monitor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"
        ><i class="bi bi-person-circle"></i> Profile</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-gear-fill"></i> Settings</a>
    </li>
  </ul>
</div>
